{% extends "layout.html" %}

{% block content %}

<div id="content">

    <h1>Молитва это....</h1>
    <p>Лучшая группа на свете и тд.... </p>
    <p>Мы лидеры в .....</p>
    <div class="cleaner_h40"></div>

    <div class="two_column float_l">

        <h2>Преимущества перед конкурентами</h2>
        <p> Текст рандомный </p>

        <ul class="templatemo_list">
            <li>1.</li>
            <li>2. </li>
            <li>3. </li>
            <li>4 </li>
        </ul>

    </div>

    <div class="two_column float_r">

        <h2>Планы на будущее</h2>

        <blockquote>
            <p>Мы планируем......</p>

            <cite>Команда МОлитвы</cite>
        </blockquote>


    </div>

</div> <!-- end of templatemo_content -->
{% endblock %}