{% extends "layout.html" %}

{% block content %}

<div id="content">

    <h1>Информация</h1>
    <div class="image_wrapper fl_img">
        <a href="http://www.templatemo.com/page/1" target="_parent"><img src="static/images/logo.jpg" alt="image 4" /></a>
    </div>
    <p> Здесь написаны красивые слова про MOлитву</p>
    <div class="cleaner_h40"></div>

    <div class="two_column float_l">
        <div class="hidebox">

            <h2>Главные подписчики молитвы </h2>
            <p>Наши самые активные ребята.</p>
        </div>

        <ul class="templatemo_list">
            <li>1.Кашапов Руслан</li>
            <li>2.Саубанов Эмиль</li>
            <li>3.Байбурина Адель</li>
            <li>4.Латыпов Айнур</li>
            <li>5.Павлова Ольга</li>
        </ul>

    </div>

    <div class="two_column float_r">
        <div class="hidebox">
            <h2>Темы для форса</h2>
            <p>Наиболее актуальные темы для мемов</p>

            <ul class="templatemo_list">
                <li>1.Лабы по ООП</li>
                <li>2.Буфет 6-го корпуса</li>
                <li>3.Андрушко</li>
                <li>4.Миронов</li>
                <li>5.Зайцы Валеевой</li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}